*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main{
    width: 100vw;
    height: 100vh;
    background-color: aqua;
}

section{
    width: 80%;
    height: 500px;
    margin: 0 auto;                         /* aqui significa que le agregue 0 de arriba y abajo pero que de los lados lo ajuste automaticamente por eso queda cemtrado */
    background-color: blueviolet;
}