p {
    color:blueviolet;
    font-size: 40px;
}

/* class es otra forma de mandar a llamar un elemento(s) que tienen el nombre de la clase */

.parrafo {
    color: brown;
}

/* ID es otra forma de mandar a llamar  */

#texto{
    color: blue;
    font-size: 60px;
}