main{
    background-color: aqua;
    width: 600px;              /* es importante hacer un bien width es importante hacerla un flexible para que no genere scroll incomodos */
    height: 500px;

}
p{
    font-size: 16px;
}