*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* .nav li{
    display: inline-block;
    padding-left: 10px;
} */

p{
    display: inline-block;
    font-size: 20px;
    position: absolute;
}

.cabeza{
    background-color: peachpuff;
    height: 80px;
    display: flex;
    justify-content: space-between;
}
.nav {
    list-style: none;
    font-size: 20px;
   /*  text-align: right; */
}


.ad li{
    background-color: aqua;
    margin: 20px;
    
}
section{
    width: 30%;
   
                   /* esto es para delimitar el tamaño del ancho de la seccionq ue estamos mandando a llamar */
    min-height: 959px;                  /* aqui le estamo diciendoa la seccion que su tamaño minimo sera de 500 pixeles pero si tiene mas contenido no deja de crecer hasta que el contenido termine de crecer y asi evitamos el overflow de contenido */
   background-color: brown;                       /* aqui significa que le agregue 0 de arriba y abajo pero que de los lados lo ajuste automaticamente por eso queda cemtrado */
    
}