*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.nav li{
    display: inline-block;
    padding-left: 10px;
   
}

.cabeza p{
    display: inline-block;
    font-size: 20px;
    
}

.cabeza{
    background-color: peachpuff;
    height: 80px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.nav {
    list-style: none;
    font-size: 20px;
    /* text-align: right; */
}

section{
    
}
.ad{
    width: 30%;
    background-color: brown;
    padding-top: 50px;
    height: 500px;
    display: flex;
    flex-direction: column;
}

.ad li{
    background-color: aqua;
    margin: 30px;
    margin-top: 30px;
    height: 30px;
}