*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.nav li{
    display: inline-block;
    padding-left: 10px;
   
}

.cabeza p{
    display: inline-block;
    font-size: 20px;
    
}

.cabeza{
    background-color: peachpuff;
    height: 80px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.nav {
    list-style: none;
    font-size: 20px;
    /* text-align: right; */
}

.cosas{
    width: 20%;
    display: flexbox;
}

.ad{
    background-color: brown;
    padding-top: 50px;
    height: 850px;
    display: flex;
    flex-direction: column;
    list-style: none;
}

.ad li{
    background-color: aqua;
    margin: 20px;
    margin-top: 80px;
    height: 90px;
}