*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.nav li{
  
    padding: 10px;
    
}

p{
    display: inline-block;
    font-size: 20px;
}

.cabeza{
    background-color: peachpuff;
}
.nav {
    list-style: none;
    display: inline-block;
    font-size: 20px;
    text-align: right;
}
