*{
    box-sizing: border-box;     /* es muy buena practica empezar todos los proyectos con la etiqueta universal de * y html con 62.5% para reiniciar los estilos que el navegador usa por defecto y para que podamos usar el rem como nuestra medida */
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;  /* con esto podemos hacer que rem siempre vlaga 10px por lo que se nos hara mas facil utulizar los rem y asi poder usar 1rem=10px 3rem=30px 6rem=60px etc. */
}

p{
    font-size: 1.6rem;        /* en rem tiene como referencia al estulo que tenga la etiqueta root que en este caso html por loq ue siempre un rem es igual a 16px */
}